/* =============================
   FinTala Charts – charts.css
   Philosophy: data-first, UI-last
   ============================= */

:root {
  --black: #000000;
  --white: #ffffff;
  --accent: #c1ff72;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 800px;
  height: 100svh;
  overflow: hidden;
  background: hsl(0, 0%, 98%);
  font-family: system-ui, sans-serif;
}

body {
  padding: env(safe-area-inset-top)
           env(safe-area-inset-right)
           env(safe-area-inset-bottom)
           env(safe-area-inset-left);
}

#chart-loadScreen {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: hsl(0, 0%, 100%);
  display: flex; /* flex */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

#chart-loadScreen img {
  height: auto;
  width: 50vw;
  object-position: center;
  position: absolute;
}

#cl-span {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  bottom: 30vh;
}

#app {
  width: 100vw;
  height: 100svh;
  position: relative;
}

#chart {
  width: 100%;
  height: 100%;
}

#logo {
  position: absolute;
  top: 45px;
  left: 3vw;
  width: 50px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-origin: center;
  transform: rotate(90deg) translate(-6vw, 2vw);
  opacity: 0.9;
}

#logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
  transform: scaleX(1.3);
}

.chart-navigation {
  top: 80px;
  left: 7px;
  height: 540px;
  width: 45px;
  position: fixed;
  background: transparent;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartnav-wrap {
  height: auto;
  min-height: 98%;
  width: 45px;
  background: transparent;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.chartnav-wrap button {
  height: 26px;
  width: 26px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.chartnav-wrap button img {
 height: 100%;
 width: auto;
 object-fit: cover;
 object-position: center;
 transform: rotate(90deg);
}

#graph img, #drawingTools img {
  transform: scale(0.8) rotate(90deg);
}

.chartnav-wrap button span {
  transform: rotate(90deg);
  align-self: center;
  background: transparent;
}

.chart-key {
  bottom: 10px;
  left: 7px;
  height: 100px;
  width: 45px;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  z-index: 4500;
}

.chartkey-wrap {
  height: 35px;
  width: 98px;
  background: transparent;
  position: relative;
  transform: rotate(90deg) scaleX(1.5) translateX(21px) translateY(4px);
}

#chart-title {
  font-size: 17px;
}

#date-key {
  font-size: 8px;
}

/* ==================
/  TOOLs DASHBOARD
/  ================*/
#graphB {
  display: none;
}

/* =========================
/   OVERLAY CURTAIN STYLES
/* =======================*/
#chartOverlay {
  top: 0;
  left: 0;
  right: 0;
  height: 100svh;
  width: 100vw;
  position: fixed;
  background: rgba(255, 255, 255, 0.35);
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1000;
  display: none; /* block */
}

#co-wrap{
  top: 0;
  right: 0;
  min-width: 100vw;
  width: auto;
  height: 45vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  background: hsl(0, 0%, 99%);
  display: none; /* flex */
  flex-direction: row-reverse;
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
}

.overlay-choice {
  right: 0;
  top: 0;
  width: 15rem;
  transform: rotate(90deg) translateY(4vh);
  display: flex; /* flex */
  flex-direction: column;
}

.overlay-choice h3 {
  font-size: 1.3rem;
  text-align: right;
  font: roboto;
  border-bottom: 1px solid black;
}

.overlay-choice div {
  min-height: 50px;
  height: auto;
}

.overlay-choice h4 {
  display: flex;
  flex-direction: row;
  background: transparent;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.overlay-choice img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  object-position: center;
}

#drawWrap {
  display: none; /* flex */
}

#indicatorWrap {
  display: none; /* flex */
}

/* ====================
/  Trendlines
/  ==================*/
#tl-block {
  top: 40svh;
  left: 5vw;
  width: 90vw;
  height: 50svh;
  position: fixed;
  display: none; /* flex */
  justify-content: space-around;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0,0,0,0.2);
  z-index: 5000;
  overflow-x: auto;
  border-radius: 1%;
}

#tl-wrap {
  height: auto;
  min-height: 5rem;
  width: 50svh;
  transform-origin: center;
  transform: rotate(90deg);
  background: #c1ff72;
  padding: 2.1rem 0.1rem;
  overflow-y: auto;
  border: 2px solid #c1ff72;
}

.tl-head {
  top: -2.11rem;
  left: 0;
  height: 2rem;
  width: 50svh;
  position: sticky;
  background: #c1ff72;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#tl-close {
  position: absolute;
  left: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  border-radius: 3px;
  background: rgba(255,255, 255, 0.5);
}

#tl-edit {
  position: absolute;
  left: 3.5rem;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  border-radius: 3px;
  background: rgba(255,255, 255, 0.5);
}

.tl-title {
  position: absolute;
  right: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.tledit-submit {
  bottom: 1rem;
  left: 1rem;
  height: 1rem;
  width: 2rem;
  background: blue;
  position: fixed;
}

.trendline {
  width: 91.5%;
  height: auto;
  margin-top: 0.5rem;
  background: hsl(0, 100%, 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.trendline-name {
  width: 24svh;
  opacity: 0.7;
  overflow: hidden;
  letter-spacing: 0.12rem;
}

.trendline-extension {
  width: 6.45svh;
  opacity: 0.7;
  text-align: right;
  overflow: hidden;
}

.trendline-width {
  width: 6.45svh;
  opacity: 0.7;
  text-align: right;
  overflow: hidden;
}

.trendline-clr {
  width: 2.56svh;
  background: brown;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0.8);
}

#tlaction-card {
  position: fixed;
  top: 40svh;
  left: 48vw;
  height: 40svh;
  width: 15vw;
  background: #c1ff72;
  display: none; /* flex */
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.3rem;
  z-index: 5005;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

#tlactioncard-wrap {
  top: 50%;
  left: 50%;
  height: 15vw;
  width: 40svh;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
  background: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  position: absolute;
}

.tlcard-btn {
  height: 2rem;
  width: 5rem;
  margin: 0.8rem 0 0 0;
  background: hsl(0, 100%, 15%);
  border-radius: 4px;
  color: #c1ff72;
}

#tlcardclose-btn {
  height: 2rem;
  width: 2rem;
  margin: 0.8rem 0 0 0;
  background: hsl(0, 100%, 15%);
  border-radius: 4px;
  color: #c1ff72;
  font-size: 1.2rem;
}

#tlcomposer {
  top: 0.5rem;
  left: 15vw;
  width: 62vw;
  height: 350px;
  position: fixed;
  background: hsl(0, 100%, 97%);
  z-index: 5010;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0.75rem;
  display: none; /* flex */
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

#tl-name {
  height: 1.7rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.tl-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.tl-extend {
  width: 100%;
  height: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.tl-extend button {
  height: 90%;
  width: 3rem;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.tl-extend button.active {
  background: rgba(16, 16, 116, 1);
}

.tl-extend button span {
  font-size: 1.5rem;
  color: #c1ff72;
  line-height: 1rem;
}

.lineHeight {
  margin-top: 0.2rem;
}

.tl-ctrl {
  width: 100%;
  height: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.tl-ctrl button {
  height: 97%;
  width: 4rem;
  background: black;
  color: #c1ff72;
  border-radius: 3px;
}

/* =====================
     Horizontal Lines
   =================== */
#hl-block {
  top: 40svh;
  left: 5vw;
  width: 90vw;
  height: 50svh;
  position: fixed;
  display: none; /* flex */
  justify-content: space-around;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0,0,0,0.2);
  z-index: 5000;
  overflow-x: auto;
  border-radius: 1%;
}

#hl-wrap {
  height: auto;
  min-height: 5rem;
  width: 50svh;
  transform-origin: center;
  transform: rotate(90deg);
  background: #c1ff72;
  padding: 2.1rem 0.1rem;
  overflow-y: auto;
  border: 2px solid #c1ff72;
}

.hl-head {
  top: -2.11rem;
  left: 0;
  height: 2rem;
  width: 50svh;
  position: sticky;
  background: #c1ff72;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#hl-close {
  position: absolute;
  left: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  border-radius: 3px;
  background: rgba(255,255, 255, 0.5);
}

#hl-edit {
  position: absolute;
  left: 3.5rem;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  border-radius: 3px;
  background: rgba(255,255, 255, 0.5);
}

.hl-title {
  position: absolute;
  right: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.hledit-submit {
  bottom: 1rem;
  left: 1rem;
  height: 1rem;
  width: 2rem;
  background: blue;
  position: fixed;
}

.line {
  width: 91.5%;
  height: auto;
  margin-top: 0.5rem;
  background: hsl(0, 100%, 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.hor-line-name {
  width: 24svh;
  opacity: 0.7;
  overflow: hidden;
  letter-spacing: 0.12rem;
}

.hor-line-width {
  width: 6.45svh;
  opacity: 0.7;
  text-align: right;
  overflow: hidden;
}

.hor-line-clr {
  width: 2.56svh;
  background: brown;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0.8);
}

#hlaction-card {
  position: fixed;
  top: 40svh;
  left: 48vw;
  height: 40svh;
  width: 15vw;
  background: #c1ff72;
  display: none; /* flex */
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.3rem;
  z-index: 5005;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

#hlactioncard-wrap {
  top: 50%;
  left: 50%;
  height: 15vw;
  width: 40svh;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
  background: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  position: absolute;
}

.hlcard-btn {
  height: 2rem;
  width: 5rem;
  margin: 0.8rem 0 0 0;
  background: hsl(0, 100%, 15%);
  border-radius: 4px;
  color: #c1ff72;
}

#hlcardclose-btn {
  height: 2rem;
  width: 2rem;
  margin: 0.8rem 0 0 0;
  background: hsl(0, 100%, 15%);
  border-radius: 4px;
  color: #c1ff72;
  font-size: 1.2rem;
}

#hlcomposer {
  top: 0.5rem;
  left: 15vw;
  width: 62vw;
  height: 350px;
  position: fixed;
  background: hsl(0, 100%, 97%);
  z-index: 5010;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0.75rem;
  display: none; /* flex */
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

#hl-name {
  height: 1.7rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.hl-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.hl-ctrl {
  width: 100%;
  height: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.hl-ctrl button {
  height: 97%;
  width: 4rem;
  background: black;
  color: #c1ff72;
  border-radius: 3px;
}

/* ===================
       Alert Card
   =================== */
#alert-card {
  height: 22rem;
  width: 12rem;
  top: calc(50vh - 11rem);
  left: calc(50vw - 6rem);
  position: fixed;
  background: hsl(0, 100%, 96%);
  box-shadow: -1px 1px 1px 1px rgba(16, 16, 16, 0.6);
  z-index: 3000;
  border-radius: 0.8rem;
  display: none; /* flex */
  justify-content: center;
  padding: 0.5rem;
}

#close-alert {
  transform: rotate(90deg);
  position: absolute;
  bottom: 3rem;
  left: 1.3rem;
  font-size: 1.2rem;
}

.alert-card {
  transform-origin: center;
  transform: rotate(90deg) scaleX(1.8) scaleY(0.56);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.alert-card h3 {
  top: 0;
  left: 5%;
  position: absolute;
  transform: scaleX(0.8) scaleY(1.8);
  line-height: 1rem;
}

#alert {
  font-size: 0.8rem;
  transform: scaleX(0.8) scaleY(1.9);
  line-height: 1.15rem;
}

#rsi {
  opacity: 0.4;
}

#ma-block {
  top: 40svh;
  left: 5vw;
  width: 90vw;
  height: 50svh;
  position: fixed;
  display: none; /* flex */
  justify-content: space-around;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0,0,0,0.2);
  z-index: 5000;
  overflow-x: auto;
  border-radius: 1%;
}

#ma-wrap {
  height: auto;
  min-height: 5rem;
  width: 50svh;
  transform-origin: center;
  transform: rotate(90deg);
  background: #c1ff72;
  padding: 2.1rem 0.1rem;
  overflow-y: auto;
  border: 2px solid #c1ff72;
}

.ma-head {
  top: -2.11rem;
  left: 0;
  height: 2rem;
  width: 50svh;
  position: sticky;
  background: #c1ff72;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#ma-close {
  position: absolute;
  left: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  border-radius: 3px;
  background: rgba(255,255, 255, 0.5);
}

#ma-edit {
  position: absolute;
  left: 3.5rem;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  border-radius: 3px;
  background: rgba(255,255, 255, 0.5);
}

.ma-title {
  position: absolute;
  right: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.average {
  width: 91.5%;
  height: auto;
  margin-top: 0.5rem;
  background: hsl(0, 100%, 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.average-name {
  width: 24svh;
  opacity: 0.7;
  overflow: hidden;
}

.average-pd {
  width: 6.45svh;
  opacity: 0.7;
  text-align: right;
  overflow: hidden;
}

.average-type {
  width: 5.16svh;
  opacity: 0.7;
  overflow: hidden;
}

.average-clr {
  width: 2.56svh;
  background: brown;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0.8);
}

#action-card {
  position: fixed;
  top: 40svh;
  left: 48vw;
  height: 40svh;
  width: 15vw;
  background: #c1ff72;
  display: none; /* flex */
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.3rem;
  z-index: 5005;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

#actioncard-wrap {
  top: 50%;
  left: 50%;
  height: 15vw;
  width: 40svh;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
  background: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  position: absolute;
}

.card-btn {
  height: 2rem;
  width: 5rem;
  margin: 0.8rem 0 0 0;
  background: hsl(0, 100%, 15%);
  border-radius: 4px;
  color: #c1ff72;
}

#cardclose-btn {
  height: 2rem;
  width: 2rem;
  margin: 0.8rem 0 0 0;
  background: hsl(0, 100%, 15%);
  border-radius: 4px;
  color: #c1ff72;
  font-size: 1.2rem;
}

#ma-inputs {
  top: 5svh;
  left: 12vw;
  height: 320px;
  width: 70vw;
  position: absolute;
  background: hsl(0, 100%, 96%);
  z-index: 5010;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1.3rem 0.7rem;
  display: none; /* flex */
  flex-direction: column;
  gap: 1.5rem;
}

#mai-text, #mai-period, #mai-offset {
  height: 1.7rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.mai-period, .mai-offset {
  width: 40%;
}

.mai-typeSelector {
  height: 1.7rem;
  width: 99%;
  border: 1px solid rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.mai-typeSelection {
  top: 0;
  height: 1.53rem;
  width: 2.7rem;
  background: #c1ff72;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  padding-left: 0.3rem;
  opacity: 0.9;
}

.mai-colorSelector {
  height: 1.7rem;
  width: 99%;
  border: 1px solid rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.maicolor-header {
  height: 1.53rem;
  width: 68.6vw;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 1.1rem;
  overflow: hidden;
  opacity: 0.9;
  text-shadow: 0px 0px 2px white;
}

.maicolors-box {
  top: 10svh;
  left: 8vw;
  height: 150px;
  width: 77vw;
  position: fixed;
  background: #c1ff72;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none; /* grid */
  grid-template-columns: 1fr 1fr 1fr auto;
  padding: 0.75rem 0.75rem;
  z-index: 5050;
  gap: 0.5rem;
}

.array-color {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
}

.mai-button{
  margin-left: 1.5rem;
  height: 1.53rem;
  width: 25vw;
  background: black;
  border-radius: 10px;
  color: #c1ff72;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0.01;
    }
}

@media (min-width: 800px) {
  html, body {
    min-width: 100vw;
  }
  
  .overlay-choice {
    right: 0;
    top: 0;
    width: 25rem;
    transform: rotate(90deg) translateY(20vh);
    display: flex; /* flex */
    flex-direction: column;
  }

}