/* ==========================
   FinTala – dashboard.css
   Market Dashboard Styling
   Palette:
   Black: #000000
   White: #ffffff
   Accent: #c1ff72
   ========================== */
   
/* HEADER: Profile */
.dash {
  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.9;
}

.dash img {
  transform: scale(1.1);
  opacity: 0.75;
}

/* ---- Base ---- */
.dashboard {
  background: hsl(0, 0%, 99%);
  padding-top: 0.5rem;
  display: block; /* block */
  overflow-x: auto;
}

.dash-section {
  padding: 3rem 1rem;
}

.section-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* ---- Indices ----- */

.overview-section {
  padding: 3rem 1rem;
  background: transparent;
  padding-right: 2rem;
}

.overview-section h2 {
  position: absolute;
}

.overview {
  margin-top: 3rem;
  position: relative;
  height: auto;
  width: auto;
  min-width: 120vw;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2.2rem;
}

.overview-box {
  position: relative;
  height: 6rem;
  width: 7.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  border: 2px solid darkslategray;
  border-radius: 0.8rem;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}

#overview-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  text-align: center;
  text-shadow: 0px 0px 1px black;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  line-height: 6.6rem;
  background: rgba(16, 16, 16, 0.5);
  display: none; /* block */
}

.masi-wrap {
  height: 100%;
  width: 100%;
  perspective: 100px;
  perspective-origin: center;
  transform-style: preserve-3d;
  animation: 10s rotateParent infinite;
}

.masi-box { 
  height: 5rem;
  width: 100%;
  background: lightcyan;
  position: absolute;
  padding: 0.3rem 1rem;
  transform-origin: bottom;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
}

.masi-box h3 {
  margin-top: 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 0px 0px 4px white;
  line-height: 2.3rem;
}

#masi {
  transform: translate3d(0, 0, 0) rotateX(30deg);
    display: block;
  }

#fsi {
  transform: translate3d(0, -4.3243496620879306503212491840274874378rem, -2.5rem) rotateX(150deg);
  display: block;
  }
  
#dsi {
  transform: translate3d(0, 0, -5rem) rotateX(270deg);
  display: block;
  }

#volume-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 0;
}

#volume-title {
  height: 88%;
  width: 90%;
  background: lightcyan;
  position: absolute;
  align-content: center;
  padding: 0 0.5rem;
  border-radius: 10%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block; /* block */
  z-index: 10;
  animation: 30s volumeTt infinite;
}

#volume-title h3 {
  line-height: 1rem;
  text-shadow: 0px 0px 5px #c1ff72;
}
#volume-title span {
  font-size: 0.8rem;
  text-shadow: 0px 0px 4px #c1ff72;
}

.hname {
  color: darkmagenta;
}

.volume-card {
  height: 88%;
  width: 90%;
  background: lightcyan;
  position: absolute;
  align-content: center;
  padding: 0 0.5rem;
  border-radius: 10%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#vtw-inner {
  margin-top: 0.4rem;
}

#vtw-inner span {
  top: 0.1rem;
  left: 0.1rem;
  position: absolute;
  font-size: 0.75rem;
  background: white;
  padding: 0 0.2rem;
  padding-top: 0.1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border-top-left-radius: 7px;
}

#oneVc {
  animation: 30s volumeOne infinite;
}

#twoVc {
  animation: 30s volumeTwo infinite;
}

#threeVc {
  animation: 30s volumeThree infinite;
}

#fourVc {
  animation: 30s volumeFour infinite;
}

#fiveVc {
  animation: 30s volumeFive infinite;
}

/* ---- Watchlist ---- */
.watchlist-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.watchlist-item {
  display: grid;
  grid-template-columns: 40px 1fr auto;
  align-items: center;
  gap: 0.75rem;
  padding: 0.55rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  text-decoration: none;
  color: #000000;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 1px 1px rgba(16, 16, 16, 0.1);
}

.watchlist-item:hover {
  background-color: #f6f6f6;
}

.watchlist-item img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.company-meta {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: darkmagenta;
}

.company-price {
  font-size: 0.8rem;
  opacity: 0.75;
}

.company-change {
  font-size: 0.9rem;
  font-weight: 600;
}

/* ------ install sect ------ */
.install-prompt {
  padding: 3rem 1rem;
  display: none; /* flex */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-top: 2px solid black;
  corner-shape: bevel;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: 5rem;
}

.install-prompt div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.install-prompt span {
  font-weight: 700;
  font-size: 2.6rem;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.install-prompt button {
  height: 2.75rem;
  width: 20rem;
  border-radius: 1.3rem;
  margin-bottom: 2rem;
  background: hsl(0, 100%, 0%);
  color: #c1ff72;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

/* =======================
     Indices Component
   ======================= */
#index-illustration {
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  position: fixed;
  background: white;
  z-index: 2000;
  padding: 4.5rem 0.7rem;
  display: block; /* block */
}

#close-indices {
  top: 1.3rem;
  left: 1rem;
  position: absolute;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0.3rem;
  border-radius: 0.5rem;
}

.index-buttons {
  top: 1.3rem;
  left: 5.5rem;
  height: auto;
  width: 70vw;
  position: absolute;
  font-size: 1.2rem;
  background: transparent;
  padding: 0.1rem 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.index-buttons div {
  height: 1.5rem;
  width: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.1rem 0.3rem;
  background: #c1ff72;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0.4rem;
}

.index-piecharts {
  top: 4rem;
  height: auto;
  width: 94%;
  position: absolute;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.4rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.piechart-block {
  width: 30%;
  height: 8rem;
  overflow: hidden;
}

.index-piechart {
  height: 6rem;
  width: 100%;
}

.piechart-name {
  height: 1.98rem;
  width: 100%;
  padding: 0.3rem 0;
  text-align: center;
}

.index-barcharts {
  top: 13rem;
  width: 94%;
  background: black;
}

/* =======================
     Volume Animations
   ======================= */
.volume-detail {
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  position: fixed;
  background: white;
  z-index: 2000;
  padding: 0.5rem 0.7rem;
  display: none; /* block */
}

.volume-detail span {
  top: 1.3rem;
  left: 1rem;
  position: absolute;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0.3rem;
  border-radius: 0.5rem;
}

#vol-container {
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background: lightcyan;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2px 2px;
}

.volume-buttons {
  margin-top: 2rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.volume-buttons div {
  height: 1.5rem;
  width: 3rem;
  background: #c1ff72;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: 300;
  border-radius: 0.75rem;
  line-height: 1.75rem;
}

.volume-key {
  height: auto;
  width: 60%;
  margin-top: 3.5rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
}


/* =======================
     Sector Comparison
   ======================= */
#sector-comparison {
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  position: fixed;
  background: white;
  z-index: 2000;
  padding: 4.5rem 0.7rem;
  display: none; /* block */
}

#sect-container {
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background: lightcyan;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2px 2px;
}

#close-valTrnd {
  top: 1.3rem;
  left: 1rem;
  position: absolute;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0.3rem;
  border-radius: 0.5rem;
}

#val-title {
  top: 1.3rem;
  left: 6rem;
  width: 12rem;
  position: absolute;
  background: transparent;
  font-size: 1.2rem;
  text-align: right;
  border-bottom: 2px solid magenta;
  font-weight: 300;
  color: darkmagenta;
}

#val-help {
  top: 1.3rem;
  right: 1.5rem;
  padding: 0 0.5rem;
  position: absolute;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 700;
  border-radius: 3px;
}

#val-helpText {
  top: 5rem;
  left: 4rem;
  height: 20rem;
  width: 15rem;
  position: absolute;
  background: hsl(0, 0%, 99%);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  box-shadow: 3px 3px 3px 3px rgba(16, 16, 16, 0.4);
  display: none; /* flex */
  flex-direction: column;
  justify-content: space-evenly;
}

#valTrndSelecta {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vts-button {
  height: 1.5rem;
  width: 15rem;
  background: #c1ff72;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: 300;
  border-radius: 0.7rem;
  line-height: 1.75rem;
}

.vts-button :hover {
  background: lightgray;
}

.selection-box {
  top: 25vh;
  left: 20vw;
  height: 18rem;
  width: 14rem;
  position: fixed;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.selection-box span {
  height: auto;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: lightgreen;
  padding: 0.5rem 0.5rem;
}

#select-sector, #select-company {
  display: none; /* flex */
}

#select-company span {
  display: none; /* block */
}

#valTrnd-key {
  height: auto;
  width: 60%;
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
}

#valTrnd-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  text-align: center;
  text-shadow: 0px 0px 1px black;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  line-height: 6.6rem;
  background: rgba(16, 16, 16, 0.5);
  display: none; /* block */
}
  
/* --- Masi rotation anime ---*/
@keyframes rotateParent {
  0% {
    transform: rotateX(0deg);
  }
  33.33% {
    perspective: 200px;
    transform: rotateX(115deg) scale(1.15);
  }
  66.66% {
    perspective: 300px;
    transform: translate3d(0, 2.2rem, 0) rotateX(210deg) scale(1.1);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* =======================
     Volume Animations
   ======================= */
@keyframes volumeTt {
  0% {
    display: block;
    scale: 1;
  }
  10% {
    display: block;
    scale: 1;
  }
  13% {
    scale: 0.1;
    display: none;
  }
  13.3% {
    display: none;
    scale: 0;
  }
  96.9% {
    display: none;
    scale: 0;
  }
  97% {
    display: block;
    scale: 0.1;
  }
  100% {
    display: block;
    scale: 1;
  }
}

@keyframes volumeOne {
  0% {
    display: none;
    transform: translateY(7rem);
  }
  10% {
    display: none;
    transform: translateY(7rem);
  }
  13% {
    display: none;
    transform: translateY(7rem);
  }
  16% {
    display: block;
    transform: translateY(0);
  }
  26% {
    display: block;
    transform: translateY(0);
  }
  29% {
    display: none;
    transform: translateY(-7rem);
  }
  100% {
    display: none;
    transform: translateY(-7rem);
  }
}

@keyframes volumeTwo {
  0% {
    display: none;
    transform: translateY(7rem);
  }
  10% {
    display: none;
    transform: translateY(7rem);
  }
  29% {
    display: none;
    transform: translateY(7rem);
  }
  32% {
    display: block;
    transform: translateY(0);
  }
  42% {
    display: block;
    transform: translateY(0);
  }
  45% {
    display: none;
    transform: translateY(-7rem);
  }
  100% {
    display: none;
    transform: translateY(-7rem);
  }
}

@keyframes volumeThree{
  0% {
    display: none;
    transform: translateY(7rem);
  }
  10% {
    display: none;
    transform: translateY(7rem);
  }
  45% {
    display: none;
    transform: translateY(7rem);
  }
  48% {
    display: block;
    transform: translateY(0);
  }
  58% {
    display: block;
    transform: translateY(0);
  }
  61% {
    display: none;
    transform: translateY(-7rem);
  }
  100% {
    display: none;
    transform: translateY(-7rem);
  }
}

@keyframes volumeFour{
  0% {
    display: none;
    transform: translateY(7rem);
  }
  10% {
    display: none;
    transform: translateY(7rem);
  }
  61% {
    display: none;
    transform: translateY(7rem);
  }
  64% {
    display: block;
    transform: translateY(0);
  }
  74% {
    display: block;
    transform: translateY(0);
  }
  77% {
    display: none;
    transform: translateY(-7rem);
  }
  100% {
    display: none;
    transform: translateY(-7rem);
  }
}

@keyframes volumeFive{
  0% {
    display: none;
    transform: translateY(7rem);
  }
  10% {
    display: none;
    transform: translateY(7rem);
  }
  77% {
    display: none;
    transform: translateY(7rem);
  }
  80% {
    display: block;
    transform: translateY(0);
  }
  90% {
    display: block;
    transform: translateY(0);
  }
  93% {
    display: none;
    transform: translateY(-7rem);
  }
  100% {
    display: none;
    transform: translateY(-7rem);
  }
}


/* ---- Responsive Tweaks ---- */
@media (max-width: 600px) {
  .section-title {
    font-size: 1.25rem;
  }

  .metric-value {
    font-size: 1.05rem;
  }
}